{{extend 'principal.html'}}



<h3>Cadastrar Nova Câmera</h3><br />

<div id="cadastro">
	{{=form}}
</div>


<!-- <input type="text" class="form-control" placeholder="Text input">
<div class="col-xs-4">
  <label for="ex3">col-xs-4</label>
  <input class="form-control input-sm" id="ex3" type="text" placeholder="Teste">
</div>
 -->
 
<!--  <div id="nav">
	<h3>Login</h3>
{{=form.custom.begin}}
  <input type="text" name='username' class="input-large" placeholder="Usuário"><br />
  <input type="password" name='password' class="input-large" placeholder="Senha"><br />
  <button type="submit" class="btn">Entrar</button>
{{=form.custom.end}}
</div> -->