<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Show Room</title>
	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/estilo.css')}}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
	{{include 'web2py_ajax.html'}}
</head>
<body>

	<div id="cabecalho">
		<a target="_blank" href="http://eletronicasantana.com.br"><img src="{{=URL('static', 'images/logo_es.png')}}" alt="Logo"></a>
	
		<div id="links">
			<ul>
			<li><a href="{{=URL('index')}}">Home</a></li>
			<li><a href="{{=URL('geral')}}">Câmeras</a></li>
			<li><a href="{{=URL('user/logout')}}">Sair</b></a></li>
			</ul>
		</div>

		<div id="buscar">
		    <form action="">
			    <div class="input-group">
			      <input name="camera" type="text" class="form-control" placeholder="Buscar por fabricante, modelo, tipo, lente, resolução ou outra opção" autofocus>
			      <span class="input-group-btn">
			      <button type="submit" class="btn btn-info">Buscar</button>
			      </span>
			    </div><!-- /input-group -->
		    </form><br /><br />
		</div><!-- buscar -->

	</div>

	{{include}}
<!--
	<div id="rodape">
	<h2>Rodapé</h2>
	</div>
-->
</body>
</html>