<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Show Room</title>
	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/estilo.css')}}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
	{{include 'web2py_ajax.html'}}
</head>
<body>

	<div id="cabecalho">
		<a target="_blank" href="http://eletronicasantana.com.br"><img src="{{=URL('static', 'images/logo_es.png')}}" alt="Logo"></a>
	
		<div id="links">
			<ul>
			<li><a href="{{=URL('index_admin')}}">Home</a></li>
			<li><a href="{{=URL('geral_admin')}}">Câmeras</a></li>
			<li><a href="{{=URL('novo_cadastro')}}">Cadastrar</a></li>
			<!--<li><a href="{{=URL('user/logout')}}">Sair</b></a></li>-->
			<li>{{='auth' in globals() and auth.navbar('Welcome',mode='dropdown') or ''}}</li>
			</ul>
          	{{if response.menu:}}
          	{{=MENU(response.menu, _class='nav navbar-nav',li_class='dropdown',ul_class='dropdown-menu')}}
          	{{pass}}			
		</div>
			<nav class="botao_menu">
			<a class="btn btn-primary" href="#navigation-main">
  			<i class="fa fa-bars" aria-hidden="true" title="Skip to main navigation"></i>
  			<span class="sr-only">Skip to main navigation</span>
			</a>
			</nav>

		<div id="buscar">
		    <form action="">
			    <div class="input-group">
			      <input name="camera" type="text" class="form-control" placeholder="Buscar por fabricante, modelo, tipo, lente, resolução ou outra opção" autofocus>
			      <span class="input-group-btn">
			      <button type="submit" class="btn btn-info">Buscar</button>
			      </span>
			    </div><!-- /input-group -->
		    </form><br /><br />
		</div><!-- buscar -->

	</div>

	{{include}}
<!--
	<div id="rodape">
	<h2>Rodapé</h2>
	</div>
-->

	<script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
</body>
</html>