*{margin: 0; padding: 0; border: 0}

.logo{width: 190px; height: 78px; padding: 5px}

.menu{background: #333; height: 41px; margin-left: 5px; margin-bottom: 35px}
.menu ul li{display: inline}
.menu ul li a{color: #FFF; font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration: none;  float: left; padding: 10px 25px}
.menu ul li a:hover{background: #6E6E6E}

.busca{margin-left: 15px}

.form_busca{margin-left: 5px; width: 400px; height: 30px}

.tabela{margin-left: 5px; margin-top: 30px; font: 10px "Trebuchet MS", Arial, Helvetica, sans-serif}

.pequena{font: 10px "Trebuchet MS", Arial, Helvetica, sans-serif}
